@model HDBMMVC.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "个人中心";
}

<style>
    body {
        background-image: url('../../images/Kreuzbund_friends.jpg');
        background-size: cover;
    }
</style>

<div class="">
    <div class="container">
        <div class="col-md-12 column" style="text-align:center;">
            <h1 style="color: white; margin-bottom: 50px; margin-top: 100px">@ViewBag.Title</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix" style="">
        <div id="main_m1" class="col-md-3 column" style="background-color: white; border-radius: 10px; ">
            <img alt="140x140" src="~/images/t01a7f2b664c23cece3.jpg" class="img-circle" style="width:140px;height:140px" />
            <div class="">
                <dl class="">
                    <dt>
                        用户名：<span>@User.Identity.GetUserName()</span>
                    </dt>
                    <dt>
                        密&nbsp;&nbsp;&nbsp;&nbsp;码：
                        <span>
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("修改密码", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("设置密码", "SetPassword")
                            }
                        </span>
                    </dt>
                    <br />
                    <dt>
                        帮助
                    </dt>
                    <dt>
                        意见反馈
                    </dt>
                    @{
                        if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("管理", "Admin", "Activities")
                        }
                    }
                </dl>
            </div>
        </div>
        <div id="main_m2" class="col-md-9 column" style="background-color: #ebebeb; text-align: center; border-radius: 10px;">
            <div class="row" style="margin-top: 50px">
                <div class="col-md-4" style="margin-left:10%;">
                    <div class="thumbnail">
                        <div class="caption">
                            <p>
                                @Html.ActionLink("我的报名", "MyIndex", "Activities", null, new { @class = "btn btn-warning" })
                            </p>
                            <p>
                                查看我的报名信息
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-success">@ViewBag.StatusMessage</p>
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
<script>
    $(function () {
        var heightLeft = $("#main_m1").height();
        console.info(heightLeft);
        var heightRight = $("#main_m2").height();
        console.info(heightRight);
        var heightMax = Math.max(heightLeft, heightRight);
        console.info(heightMax);
        if (heightLeft < heightRight) {
            $("#main_m1").height(heightRight);
        } else {
            $("#main_m2").height(heightLeft);
        }
    });
</script>
